# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
*.xcarchive
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Other
*.dmg
*.ipa
*.dSYM
